@using TekoTestWebApp.Data.Enum;
@using TekoTestWebApp.ViewModels;
@model EditUserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Username">Имя пользователя</label>
        <input asp-for="Username" class="form-control" placeholder="Enter username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" class="form-control" placeholder="Enter password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FullName">ФИО:</label>
        <input asp-for="FullName" class="form-control" placeholder="Enter Fullname">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age">Возвраст</label>
        <input asp-for="Age" class="form-control" placeholder="Enter Age">
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Position">Должность</label>
        <select asp-for="Position" asp-items="@Html.GetEnumSelectList<Position>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department">Отдел</label>
        <select asp-for="Department" asp-items="@Html.GetEnumSelectList<Department>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Пол</label>
        <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>
